#.htaccess for futuramerlin.com

Redirect 301 /Wreathe%20web/index.html http://futuramerlin.com/ancillary/wreathe/
Redirect 301 /home http://futuramerlin.com/

RewriteOptions inherit
DirectoryIndex index.htm
ErrorDocument 404 /e.htm
AddType audio/x-flac .flac
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.futuramerlin\.com$ [NC]
RewriteRule ^(.*)$ http://futuramerlin.com/$1 [R=301,L]
RewriteRule ^/?c/(.+)$ news/$1 [L,QSA]
RewriteRule ^/?fractallise/(.+)$ news/$1 [L,QSA]

AddDefaultCharset utf-8

# Turn off the ETags
Header unset ETag
FileETag None

Header unset Cache-Control
Header unset Pragma
Header unset Set-Cookie
<ifModule mod_expires.c>
ExpiresActive On
ExpiresDefault A2592000
ExpiresByType image/x-icon A2592000
ExpiresByType text/css A3600
ExpiresByType text/html A3600
</ifModule>
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifModule>
