/* To do list */
    /*
    * Make pagination sticky / always visible (feature request) (probably not on mobile).
    * Fix entry-title not wrapping around entry-meta.
    * Fix blockquote end quotation mark not being inset.
    * Fix header section labels overlapping with header text.
    * Fix that section symbols overlay section titles
    */
    /* Then, I’ll be done! :D */

/* General */

    *,
    ::before,
    ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
