/* To do list */
    /*
    * Make pagination sticky / always visible (feature request) (probably not on mobile).
    * Fix entry-title not wrapping around entry-meta.
    * Fix blockquote end quotation mark not being inset.
    * Fix header section labels overlapping with header text.
    * Fix that section symbols overlay section titles
    */
    /* Then, I’ll be done! :D */

/* General */

    *,
    ::before,
    ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .clearfloat,
    .post-revisions,
    .floating-key {
        clear: both;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    body:not(.lessChrome) > main, body:not(.lessChrome) > .audioContainer {
        margin: 0 auto;
    }
    body > .audioContainer ~ main .breadcrumbs {
        margin-bottom: 0;
    }

    body.lessChrome > main, body.lessChrome > .audioContainer {
        margin: 0 auto;
        margin-top: 0;
        position: unset;
        padding: 0rem;
        padding-top: 0.063rem;
        padding-bottom: 1.063rem;
        max-width: 50rem;
    }
    body.lessChrome >  .audioContainer ~ main {
        padding-bottom: 8rem;
    }

    main > *:not(.page-title):not(h1) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    img {
        max-width: 80%;
        display: block;
        margin: 1rem 10% 1rem 10%;
        padding: 0.5rem;
        border: 0.063rem solid #ddd; 
    }

    dd img, li img, .inline-image {
        margin: 0;
        display: inline;
    }

    dd > a[href^="https://archive.org/"][href$=".png"]::after {
        content: unset;
    }

    html > body:not(#blah) a[href^="https://archive.org/download/"]::after {
        content: unset;
    }

    h1,h2,h3,h4,h5,h6, p, dt, dd {
        hyphens: auto;
    }

    h1, .bigemphasis {
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        padding: 1rem;
        display: block;
        overflow: hidden;
        text-indent: 0;
    }

/* Audio Player */
    .audioContainer {
        z-index: 2;
        position: fixed;
        bottom: 4rem;
        height: 8rem;
        background-color: red;
        width: calc(75vw - 9rem);
        font-size: 1.5rem;
    }
    .audioContainer audio {
        margin: 0;
    }
    .audioMainPlayButton {
        height: 8rem;
        width: 4rem;
        position: absolute;
        left: 0;
    }
    .audioWaveform {
        display: inline-block;
        position: absolute;
        left: 4rem;
        margin: 0;
        top: 0;
        width: inherit;
        height: 8rem;
        padding: 0;
        max-width: calc(100% - 8rem);
        filter: invert(100%);
    }
    .audioPlayNextButton {
        position: absolute;
        right: 0;
        top: 0;
        height: 8rem;
        width: 4rem;
    }
    .audioScrubber {
        position: absolute;
        bottom: 0;
        left: 4rem;
        margin: 1rem;
        margin-bottom: 0;
        bottom: 1rem;
        width: calc(100% - 10rem);
        transition: all 1s;
    }
    .audioVolume {
        position: absolute;
        top: 3rem;
        right: 2rem;
        width: 6rem;
    }
    .audioDuration, .audioCurrentTime {
        background-color: rgba(255,255,255,0.95);
        padding: 0.5rem;
        border: 0.063rem solid black;
    }
    .audioTitle {
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        width: 100%;
    }
    .playButton {
        width: 4rem;
        height: 4rem;
        margin: 0 auto;
        display: block;
    }
    .audioDuration {
        position: absolute;
        top: 2rem;
        right: 4rem;
        margin: 1rem;
        margin-right: 2rem;
    }
    .audioCurrentTime {
        position: absolute;
        top: 2rem;
        right: 100%;
        margin: 1rem;
        display: none;
    }
    .audioPlayhead {
        position: absolute;
        background-image: linear-gradient(green,rgba(255,255,255,0));
        width: 0.3rem;
        top: 0;
        height: 4rem;
        left: 5rem;
        z-index: 1;
        transition: all 1s;
    }

/* Featured Releases */
    #musicwrapper, #musicwrapper div {
        word-wrap: break-word;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left
    }

    .musicbig {
        display: none;
        margin: 0.5rem 1rem;
    }

    .musicbig:first-child {
        display: block;
    }

    a.musicthumb, a.musicthumb:hover {
        padding: 0.5rem;
        width: 100%;
        border-bottom: none;
    }

    .musicthumb {
        margin: 0.5rem 1rem;
        box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 1);
        cursor: pointer;
        max-width: 80%;
        box-sizing: content-box;
        display: block;
    }

    .musicthumb:hover {
        border-left: 0.2rem white solid
    }

    #musicwrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow-y: hidden;
    }

    #musicthumbnails, #musiccontents {
        height: 100%;
    }

    #musiccontents {
        width: 100%;
        overflow-x: auto;
    }

    #musicthumbnails {
        width: 30%;
        overflow-x: hidden;
        border-right: 0.3rem dotted white;
    }

/* Text segments */

    /* Misc — non-semantic — to do? */

        .small-text {
            font-size: 1.33rem;
        }

        .close-up-top {
            margin-top: 0;
        }

    /* General */

        .important-word, .important-letter {
            font-weight: bold;
        }

        .tangential-comment {
            font-size: 1.2rem;
            vertical-align: super;
        }

        .inlineheader {
            font-weight: bold;
        }

        .byline {
            display: none;
        }

        .reftitle {
            font-style: italic;
        }

        .post-index-date {
            color: #666666;
            min-width: 20%;
            display: inline-block;
            margin-left: -.75rem;
            padding-right: 2rem;
            padding-top: 1rem;
        }

        .note-emphasis, .song-title, .meta-nav, .foreign-text, a.logolink, .italic {
            font-style: italic;
        }

    /* Non-Unicode font hacks */

        .anoeyfuturamerlincommedium {
            font-family: anoeyfuturamerlincommedium;
        }

/* Text blocks */

    /* Misc — non-semantic — to do? */

        .big {
            font-size: 2rem;
        }

        .big-address {
            text-align: center;
        }

        .big-space-below {
            padding-bottom: 2rem;
        }

        .space-above {
            padding-top: 1rem;
        }

        .space-below {
            padding-bottom: 1rem;
        }

        .extra-padding-left {
            padding-left: 1.5rem;
        }

        .hanging-indented,
        .hanging-indented > li {
            padding-left: 1rem;
            text-indent: -1rem;
        }

        .centered {
            text-align: center;
        }

    /* Paragraph */
        p {
            text-align: justify;
            text-indent: 1.45rem;
        }

    /* Code */

        code {
            padding-right: .125rem;
            padding-left: .125rem;
            background: #ddd;
            hyphens: none;
        }

        .app-syntax > code:first-of-type {
            margin: 1rem;
            display: inline-block;
        }

    /* Pre */

        pre {
            margin: 0.25rem;
            padding: 0.25rem;
            overflow-x: scroll;
            border: 0.063rem dotted rgba(128,128,128,0.5);
            background: #ddd;
            /*white-space: pre-wrap;*/ /* Don't wrap unless hanging indentation can be created per line; this would probably be better applied using JavaScript, along with line numbers. */
        }

    /* Blockquote */

        blockquote {
            padding: .75rem;
            border-top: .063rem solid #666;
            border-bottom: .063rem solid #666;
            position: relative;
            overflow-y: hidden;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 1.1rem;
        }


        /*blockquote:nth-child(2)::before, blockquote::after {
            font-size:4rem;
            font-weight:bold;
            height:2rem;
        }
        blockquote:nth-child(2)::before {
            padding-right: .75rem;
            padding-bottom: .75rem;
            content:"\201C";
            left:0;
            top:0;
            float:left;
        }
        blockquote::after {
            padding-left: .75rem;
            padding-top: .75rem;
            content:"\201D";
            right:.75rem;
            bottom:.75rem;
            position:absolute;
        }
        blockquote::before {
            content:" ";
            position:absolute;
            height:calc(100% - 4rem);
            width:1rem;
            right:0;
        }*/

        blockquote::before,
        blockquote::after {
            font-size: 4rem;
            font-weight: bold;
            height: 2rem;
        }

        blockquote::before {
            padding-right: .75rem;
            padding-bottom: .75rem;
            content: "\201C";
            left: 0;
            top: 0;
            float: left;
        }

        blockquote::after {
            padding-left: .75rem;
            padding-top: .75rem;
            content: "\201D";
            right: calc(100% - 4rem);
            top: calc(100% - 4rem);
            float: right;
        }

    /* Blog post metadata */

        p.posted-on {
            font-size: 1.35rem;
            text-align: right;
            right: 0;
            padding: 1rem;
            float: right;
            position: relative;
            top: -4.75rem;
        }

        .entry-title {
            font-size: 2rem;
        }

        .entry-title::before {
            font-size: 2rem;
        }

        .article-snippet {
            padding: 1rem;
            font-size: 1.45rem;
        }

/* Links */

    a {
        text-decoration: none;
    }

    .nodecorate {
            border-bottom: 0.063rem dotted transparent;
    }

    a[href^="//"]:not([href*="futuramerlin.com"]):after,
    a[href^="ftp://"]:not([href*="futuramerlin.com"]):after,
    a[href^="http://"]:not([href*="futuramerlin.com"]):after,
    a[href^="https://"]:not([href*="futuramerlin.com"]):after,
    a[href^="irc://"]:not([href*="futuramerlin.com"]):after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="768" height="1024"><path fill="%232a1657" d="M640 768H128V257.906L256 256V128H0v768h768V576H640v192zM384 128l128 128-192 192 128 128 192-192 128 128V128H384z"/></svg>');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-origin: padding-box;
        background-clip: border-box;
        background-size: contain;
        content: ' ';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: -0.15rem;
    }

/* Headings */

    h2, h3, h4, h5, h6 {
        border-top: 4rem solid transparent;
        position: relative;
    }

    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
        top: -2rem;
        width: 100%;
        position: relative;
        display: flex;
        content: ' ';
        border-top: 0.063rem solid white;
    }

    h2 {
        font-size: 1.8rem;
    }

    body {
        counter-reset: h2
    }

    :not(#toc) > h2 {
        counter-reset: h3;
        padding-bottom: 1rem;
    }

    h3 {
        counter-reset: h4
    }

    h4 {
        counter-reset: h5
    }

    h5 {
        counter-reset: h6
    }

    h2::after,
    h3::after,
    h4::after,
    h5::after,
    h6::after {
        right: 1rem;
        position: absolute;
    }

    :not(#toc) > h2::after {
        top:0;
        counter-increment: h2;
        content: "\00A7" counter(h2)
    }

    h3::after {
        counter-increment: h3;
        content: "§" counter(h2) "." counter(h3)
    }

    h4::after {
        counter-increment: h4;
        content: "§" counter(h2) "." counter(h3) "." counter(h4)
    }

    h5::after {
        counter-increment: h5;
        content: "§" counter(h2) "." counter(h3) "." counter(h4) "." counter(h5)
    }

    h6::after {
        counter-increment: h6;
        content: "§" counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6)
    }

    h1:not(.logo),
    .page-title {
        left: 0;
        padding-right: 2rem;
        margin-bottom: 1rem;
    }

    .single-post > header.entry-header > h1 {
        background: none;
    }

/* Lists */

    ol {
        counter-reset: item;
    }

    ol > li::before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }

    #toc ol > li::before {
        content: '\00A7' counters(item, ".") " ";
    }

    li:last-child::after {
        height: 0.5rem;
        content: ' ';
        display: block;
    }

    ul {
        padding-left: 1rem;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        list-style-position: inside;
        /* See http://stackoverflow.com/questions/10428720/how-to-keep-indent-for-second-line-in-ordered-lists-via-css for what's going on here. */
        counter-reset: indentation;
        display: table;
    }

    ul > li {
        counter-increment: indentation;
    }

    li {
        display: table-row;
    }

    ul > li::before {
        content: "•";
    }

    li::before {
        display: table-cell;
        padding-right: 1rem;
        text-align: right;
        position: relative;
    }

    ul.no-bullets {
        list-style: none;
    }

    ul.no-bullets > li::before {
        content: none;
    }

    ul.bold-1st-level > li {
        font-weight: bold;
    }

    ul.bold-1st-level > li > ul {
        font-weight: normal;
    }

    .nested-list {
        padding-top: 0;
    }

    dl {
        margin: .5rem;
        border: .063rem solid rgba(255,255,255,0.6);
        padding: .5rem;
        overflow-y: hidden;
        display: flex;
        flex-wrap: wrap;
    }

    dt {
        float: left;
        clear: left;
        width: 25%;
        overflow-x: auto;
        font-weight: bold;
    }

    dt::after {
        content: ": ";
    }

    dd {
        padding-left: .5rem;
        width: 75%;
    }

    dt:not(:last-of-type), dd:not(:last-of-type) {
        border-bottom: .063rem dotted rgba(255,255,255,0.6);
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }

    dt ul, dd ul, dt ol, dd ol, dt dl, dd dl,
    li ul, li ol, li dl {
        padding-top: 0;
        margin-top: 0;
    }
