@import url('common.css');

body > main:first-of-type {
    padding-top: 1rem;
    position: relative;
}

nav ul {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    font-size: 1.25rem;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
    border: 0.063rem dashed black;
    margin: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
