/*
 Theme Name:   FMWTK Wordpress Theme
 Theme URI:    http://futuramerlin.com/ancillary/futuramerlin-web-toolkit/
 Description:  WordPress theme for the Futuramerlin Web Toolkit
 Author:       Ember Project
 Author URI:   http://futuramerlin.com
 Template:     twentyseventeen
 Version:      0.0.1
 License:      GNU General Public License v2 or later; modifications also licensed under the GNU Affero GPL V3
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         responsive-layout, accessibility-ready
 Text Domain:  fmwtk-wordpress
*/
html {
    margin: 1rem !important;
}
